
.DS_Store
PyAoC/.idea/vcs.xml
PyAoC/.idea/PyAoC.iml
PyAoC/.idea/modules.xml
PyAoC/.idea/inspectionProfiles/profiles_settings.xml
PyAoC/.idea/misc.xml
PyAoC/.idea/workspace.xml
GoAoC/.idea/GoAoC.iml
GoAoC/.idea/modules.xml
GoAoC/.idea/vcs.xml
GoAoC/.idea/workspace.xml
GoAoC/input.txt